* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0, background-color}
.mySlides {display: block;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  min-width:100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translate(100px, 50px);
}
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#ccc;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#ccc;
    left:8px;
    top:12px;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.prevnav{
padding:0px;
margin:0px;
float:left;
}
.nextnav{
float:right;
margin:2px;
padding:10px;
}
.foto1{
background-image:url(zdjecie1.jpg) !important;
width:100%;
height:auto;
background-repeat:no-repeat;
background-size:cover;
z-index:999;
}
.foto2{
background-image:url(zdjecie2.jpg)!important;
width:100%;
height:auto;
background-repeat:no-repeat;
background-size:cover;
z-index:999;
}
.foto3{
background-image:url(zdjecie3.jpg)!important;
width:100%;
height:auto;
background-repeat:no-repeat;
background-size:cover;
z-index:999;
}
.nomargin{
margin:0 important!;
padding:0 important;
}

hr {
  height: .25rem;
  width: 100%;
  display:none;
  margin: 0;
  background: darkblue;
  border: none;
  transition: 1.1s ease-in-out;
}
.link1:hover ~ hr { display: block; } 
.link2:hover ~ hr { display: block; } 
.link3:hover ~ hr { display: block; } 
.link4:hover ~ hr { display: block; } 
.link5:hover ~ hr { display: block; } 
.link6:hover ~ hr { display: block; } 

.nomargin{
margin:0 important!;
padding:0 important!;
}
.topdiv{
z-index:2; 
background-color:white;
float:right; 
border-bottom: 1px gray solid;

}
.PLN{
margin-bottom:5px;
overflow-wrap: break-word;
float:right;
width:auto;
height:100%; 
display:inline;
color:blue; 
font-size:15px;
margin-left:5px; 
transform:translateY(15%);
}
.PL {
margin-bottom:5px;
float:right;
min-width:30px;
height:100%;
display:inline;
overflow-wrap: break-word;
color:blue;
font-size:15px;
margin-right:5px;
transform:translateY(15%);
}
