body
{
	background-color: white;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.jumpers
{
	text-align: center;
}

.jumpers img
{
	width: 100%;
	height: auto;
}

.jumpers p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}
.menudesc{
	font-size:8px;
	display:inline;
	color:blue !important;
}
.menudesc:hover{
	font-weight:bold;
	transform:underline;
	/* text-decoration:underline blue; */
	transition: .8s ease-in-out;
	
}
